* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/images/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Signup-Block {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8); /* Increased opacity for form clarity */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form
{
    color: black;
    background-color: rgba(255, 255, 255, 0.0); 
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.Signup {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    color: black;
}

.input-box-1 {
    margin-bottom: 1rem;
    width: 100%;
}

.input-box-1 input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.input-box-1 input:focus {
    outline: none;
    border: 1px solid black;
}

.button {
    width: 50%;
    padding: 0.8rem;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.button:hover {
    background-color: darkviolet;
}

.login {
    margin-top: 1rem;
}

.login a {
    color: purple;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}